== render 'shared/errors', obj: @recipe
.row
  .col-md-8.col-md-offset-2.well
    = simple_form_for(@recipe, html: { multipart: true}) do |f|
      .form-group
        = f.input :name, class: 'form-control'
      .form-group
        = f.input :summary, class: 'form-control'
      .form-group
        = f.input :description, input_html: {rows: 10}, class: 'form-control'
      .form-group
        span.picture
          = f.file_field :picture, accept: 'image/jpeg, image/png, image/gif,'
      .form-group
        = f.submit(@recipe.new_record? ? 'Create Recipe' : 'Edit Recipe', class: "btn btn-success form-control form-button")


      javascript:
        $('#recipe_picture').bind('change', function() {
          size_in_megabytes = this.files[0].size/1024/1024;
          if (size_in_megabytes > 6) {
            alert('Maximum file size is 6MB. Please choose a smaller file.');
          }
        });
