== render 'shared/page_title', title: 'All Recipes'
hr
.center
  = will_paginate

- @recipes.each do |recipe|
  .row
    .col-md-2
      section.chef_info.center
        = gravatar_for recipe.chef, size: 100
        h5 Chef Name: #{recipe.chef.chefname}
    .col-lg-6.well
      h4.recipe_title
        = link_to recipe.name, recipe
        p
          = recipe.summary
        p
          span.quiet
            small
               | Created #{time_ago_in_words(recipe.created_at)} ago, &nbsp
          span.quiet
            small
              | Updated #{time_ago_in_words(recipe.updated_at)} ago
        .button-group
          = link_to like_recipe_path(recipe, like: true), class: 'btn btn-sm btn-default', method: :post do
            i.glyphicon.glyphicon-thumbs-up
            = recipe.thumbs_up_total

          = link_to like_recipe_path(recipe, like: false), class: 'btn btn-sm btn-default', method: :post do
            i.glyphicon.glyphicon-thumbs-down
            = recipe.thumbs_down_total
    .col-md-4
      = image_tag(recipe.picture.url, size: "250x150", class: "gravatar") if recipe.picture?
  hr

.center
  = will_paginate

