== render 'shared/page_title', title: @recipe.name

.row
  .col-md-4.pull-right.center
    = gravatar_for @recipe.chef, size: 200
    p
      h5 Brought to you by: #{@recipe.chef.chefname}

  .col-md-8
    = link_to 'Edit Recipe', edit_recipe_path, class: 'btn btn-sm btn-success pull-right'
    h3 = @recipe.summary
    .show_recipe
      = image_tag(@recipe.picture.url) if @recipe.picture?
    .well
      p
        strong Steps:
      = simple_format(@recipe.description)
      .button-group.center
        = link_to like_recipe_path(like: true), class: 'btn btn-sm btn-default', method: :post do
          i.glyphicon.glyphicon-thumbs-up
          = @recipe.thumbs_up_total

        = link_to like_recipe_path(like: false), class: 'btn btn-sm btn-default', method: :post do
          i.glyphicon.glyphicon-thumbs-down
          = @recipe.thumbs_down_total



.row
  .col-md-6
    = link_to "Back", recipes_path, class: "btn btn-sm btn-primary"
