- if obj.errors.any?
  .row
    .alert.alert-danger.col-md-8.col-md-offset-2
      h5 Please correct the following errors
      ul
       = obj.errors.full_messages.each do |msg|
        li = msg
