.jumbotron.center
  h1 Welcome to MyRecipes App

  h2 This is the home page for the Profressional Ruby on Rails Course.

  = link_to 'Sign up now!', '', class: 'btn btn-lg btn-success'

.row
  .col-lg-4
    h3.midrow View Recipes as Guest User
    h2.left Brows and view recipes as guest and sign up later
    = link_to 'Browse Recipe Listings', recipes_path, class: 'btn btn-warning btn-small'

  .col-lg-4
    h3.midrow View Recipes as Guest User
    h2.left Brows and view recipes as guest and sign up later
    = link_to 'Browse Recipe Listings', '', class: 'btn btn-warning btn-small'

  .col-lg-4
    h3.midrow View Recipes as Guest User
    h2.left Brows and view recipes as guest and sign up later
    = link_to 'Browse Recipe Listings', '', class: 'btn btn-warning btn-small'
