$navbar-default-bg: #312;
$light-orange: #ff8c00;
$navbar-default-color: $light-orange;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  margin-right: 10px;
  font-size: 2em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;

  &:hover {
    color: white;
    text-decoration: none;
  }
}

body {
  padding-top: 80px;
}

.nav-item {
  margin-left: 25px;
  float: left;
  margin-top: 20px;

  /* nav item links */
  a {
    margin-right: 15px;
  }
}

.center {
  text-align: center;
}

h1, h2, h3, h4 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

.left {
  text-align: left;
  letter-spacing: .5px;
}

.footer {
  margin-top: 25px;
  border-top: 1px solid #eaeaea;
  color: #777;

 /* footer paragraph */
 p {
  margin-top: 10px;
  margin-bottom: auto;
  margin-left: 10px;
 }

}

.chef_info {
  margin-top: 10px;
}

.gravatar {
  border-radius: 10px;
}

.recipe_title {
  a {
    margin-bottom: 10px;
    text-decoration: none;

    &:hover {
      transform: scale(1.2, 1.2);
      transition: transform .5s ease;

    }
  }
}

  .well {
    background-color: #ededed;
  }

  input, textarea, select, .uneditable-input {
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 15px;
  }

  input {
    height: auto !important;
  }

  span.picture {
    margin-top: 10px;
    input {
      border: 0;
    }
  }

  .show_recipe {
    margin: 10px;
    img {
      border-radius: 10px;
    }

  }
