.row
  .col-md-10.col-md-offset-1
    - flash.each do |message_type, message|
      div class=["alert", "alert-#{message_type}", "center"]
        | #{message}
        a.close data-dismiss="alert"
          | &#215;
