header
  nav.navbar.navbar-fixed-top.navbar-default
    .container
      = link_to 'myRecipes', root_path, class: 'btn btn-lg btn-success', id: 'logo'

      .nav-item
        = link_to 'link 1', '', class: 'btn btn-default btn-warning'
        = link_to 'link 2', '', class: 'btn btn-default btn-warning'
        = link_to 'New Recipe', new_recipe_path, class: 'btn btn-default btn-warning'
