doctype html
html
  head
    title Recipemanager
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  body

  == render 'layouts/nav'
  .container
    == render 'layouts/messages'
    == yield
  == render 'layouts/footer'


